DB_USER=type1
DB_PASSWORD=your_password
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=type1_monitor

DEXCOM_USER=your_dexcom_username
DEXCOM_PASS=your_dexcom_password

TCONNECT_USER=your_tandem_username
TCONNECT_PASS=your_tandem_password
